cmd-learning/linux-check.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "3cbef0de-9237-46c3-a5e5-9efed57232ce",
      "name": "Telegram Answer Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1008,
        32
      ],
      "webhookId": "a7ace3ff-5091-4e14-b01d-8cf8f3bf9d20",
      "credentials": {
        "telegramApi": {
          "id": "crnbGvcABatojUj7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "googleSheetId",
              "value": "<__PLACEHOLDER_VALUE__Your Google Sheet ID__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sheetName",
              "value": "Lessons",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "userAnswer",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ac1c856e-4580-4d4c-827f-9a2006fe7f48",
      "name": "Workflow Configuration 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        32
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=1K7p6NuF3FgLycgJmhDEhTrFHQ8qCiZNRuwultrFCI4U",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "CMD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K7p6NuF3FgLycgJmhDEhTrFHQ8qCiZNRuwultrFCI4U/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {}
      },
      "id": "f71da28e-1f7c-4119-97da-69a1989185ca",
      "name": "Read Current Pending Lesson",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        32
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h8kndGzGe63szRdV",
          "name": "cmd"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1K7p6NuF3FgLycgJmhDEhTrFHQ8qCiZNRuwultrFCI4U",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "CMD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K7p6NuF3FgLycgJmhDEhTrFHQ8qCiZNRuwultrFCI4U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Read Current Pending Lesson').item.json.row_number }}",
            "status": "={{ 'completed' }}",
            "command": "={{ $('Read Current Pending Lesson').item.json.command }}"
          },
          "matchingColumns": [
            "command"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "usage",
              "displayName": "usage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "quiz_question",
              "displayName": "quiz_question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correct_answer",
              "displayName": "correct_answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_generated",
              "displayName": "date_generated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "651ea9fa-0dee-49e3-a5e4-9f7628b536d7",
      "name": "Mark as Completed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        -64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h8kndGzGe63szRdV",
          "name": "cmd"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1K7p6NuF3FgLycgJmhDEhTrFHQ8qCiZNRuwultrFCI4U",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "CMD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K7p6NuF3FgLycgJmhDEhTrFHQ8qCiZNRuwultrFCI4U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{'retry'}}",
            "row_number": "={{ $('Read Current Pending Lesson').item.json.row_number }}",
            "command": "={{ $('Read Current Pending Lesson').item.json.command }}"
          },
          "matchingColumns": [
            "command"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "usage",
              "displayName": "usage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "quiz_question",
              "displayName": "quiz_question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correct_answer",
              "displayName": "correct_answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_generated",
              "displayName": "date_generated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "31042559-a890-4f26-82b3-e4a6d4757a0f",
      "name": "Mark as Retry",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h8kndGzGe63szRdV",
          "name": "cmd"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=6531798741",
        "text": "=✅ *Correct!*\n\n{{ $('AI Answer Evaluator').first().json.output.feedback }}\n\n{{ $('AI Answer Evaluator').first().json.output.explanation }}\n\nKeep up the good work! 🎉",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "f71362f3-2189-47f9-a7f2-35fcf9814cad",
      "name": "Send Correct Feedback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        -64
      ],
      "webhookId": "ee455ef8-907d-4672-8b22-2e9ee7447c4d",
      "credentials": {
        "telegramApi": {
          "id": "crnbGvcABatojUj7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=6531798741",
        "text": "=❌ *Not quite right*\n\n{{ $('AI Answer Evaluator').first().json.output.feedback }}\n\n{{ $('AI Answer Evaluator').first().json.output.explanation }}\n\nCorrect answer: `{{ $('Read Current Pending Lesson').first().json.correct_answer }}`\n\nDon't worry, you'll get it next time! 💪",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "d2173a36-8ed1-4af8-9296-1ee8359e6690",
      "name": "Send Wrong Feedback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        128
      ],
      "webhookId": "94f70b27-b5e2-44cf-bd4e-ee61463b5d1c",
      "credentials": {
        "telegramApi": {
          "id": "crnbGvcABatojUj7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an intelligent Linux tutor evaluating student answers.\n\nQuestion: {{ $json.quiz_question }}\nCorrect Answer: {{ $json.correct_answer }}\nStudent Answer: {{ $('Workflow Configuration 2').first().json.userAnswer }}\n\nEvaluate if the student's answer is semantically correct, even if worded differently. Consider:\n- Exact matches\n- Synonyms and equivalent terms\n- Partial correctness (e.g., '-a' vs 'a' vs '--all')\n- Common abbreviations\n\nReturn your evaluation.",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "c1e3863f-4c62-4162-8330-1e14ca6392a5",
      "name": "AI Answer Evaluator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -336,
        32
      ]
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-exp:free",
        "options": {}
      },
      "id": "d76d4a4e-1f7e-4b1c-9948-5d526bc13320",
      "name": "OpenRouter Chat Model 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -320,
        256
      ],
      "credentials": {
        "openRouterApi": {
          "id": "rY8pVcTugiaffZQj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"is_correct\": true,\n\t\"explanation\": \"The answer is correct because...\",\n\t\"feedback\": \"Great job!\"\n}"
      },
      "id": "b2b2b990-cd82-419b-8254-f1f889df9c2a",
      "name": "Structured Output Parser 2",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -192,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('AI Answer Evaluator').item.json.output.is_correct.toBoolean() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "96148657-fc0a-450d-ae20-e1517be32d40",
      "name": "Check AI Evaluation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        32
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Answer Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration 2": {
      "main": [
        [
          {
            "node": "Read Current Pending Lesson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Current Pending Lesson": {
      "main": [
        [
          {
            "node": "AI Answer Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Completed": {
      "main": [
        [
          {
            "node": "Send Correct Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Retry": {
      "main": [
        [
          {
            "node": "Send Wrong Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Answer Evaluator": {
      "main": [
        [
          {
            "node": "Check AI Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model 2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Answer Evaluator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser 2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Answer Evaluator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Check AI Evaluation": {
      "main": [
        [
          {
            "node": "Mark as Completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9a6bf6ce-f705-4a9c-a845-4813a2356105",
  "meta": {
    "instanceId": "c15246315692bc449c917fd057b1040bcb9e6fffa86654d4e1e20034008462b2"
  },
  "id": "h5k88WhjpeTXE8Ud",
  "tags": []
}